.storage-container {
    width: 320px;
    height: 80px;
    background-color: var(--ui-surface);
    border-radius: var(--ui-radius-main);
    border-width: 6px;
    border-color: var(--ui-border);
    flex-direction: row;
    margin-left: 32px;
}

.storage-image {
    width: 48px;
    height: 48px;
}

.storage-button {
    padding: 24px;
    background-color: var(--ui-surface);
    border-radius: var(--ui-radius-main);
    border-width: 6px;
    border-color: var(--ui-border);
    height: 96px;
    width: 96px;
}

.storage-button:hover {
    background-color: var(--ui-surface-hover);
}

.storage-button:active:hover:focus,
.storage-button:active:focus,
.storage-button:active {
    background-color: var(--ui-surface-active);
}

.storage-button:focus {
    border-color: var(--ui-border);
}

.storage-label {
    margin-left: 8px;
    color: var(--ui-text-fill);
    -unity-text-outline-width: 2px;
    -unity-text-outline-color: var(--ui-text-outline);
    -unity-font-style: bold;
    font-size: var(--ui-font-size-small);
}
