.sprite {
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
    min-height: 50px;
    margin: 5px;
    padding: 4px;
}

.sprite:hover {
    background-color: #202020;
}

#sprites .unity-scroll-view__content-container {
    flex-direction: row;
    flex-wrap: wrap;
}

.create-level-row {
    flex-grow: 1;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 12px;
    margin: 8px;
    min-height: 30px;
}

.level-name-container {
    flex-grow: 1;
    flex-direction: row;
    align-items: flex-end;
}

.level-name-field {
    flex-grow: 1;
    min-width: 220px;
}

