#reward-modal-design .daily-quest-reward-modal__title {
    top: 207px;
    height: 128px;
    font-size: 46px;
}

#reward-modal-design .daily-quest-reward-modal__emblem {
    position: absolute;
    left: 748px;
    top: 342px;
    width: 176px;
    height: 176px;
    background-image: url("/Assets/Content/ui/sprites/modals/daily_quest_reward/emblem_daily_quest_reward.png");
    -unity-background-scale-mode: scale-to-fit;
}

#reward-modal-design .daily-quest-reward-modal__reward-row {
    position: absolute;
    left: 500px;
    top: 514px;
    width: 672px;
    height: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#reward-modal-design .daily-quest-reward-modal__caption,
#reward-modal-design .daily-quest-reward-modal__amount {
    flex-grow: 0;
    flex-shrink: 0;
    height: 50px;
    white-space: nowrap;
}

#reward-modal-design .daily-quest-reward-modal__caption {
    font-size: 32px;
}

#reward-modal-design .daily-quest-reward-modal__amount {
    margin-left: 14px;
    font-size: 36px;
}

#reward-modal-design .daily-quest-reward-modal__image {
    flex-grow: 0;
    flex-shrink: 0;
    width: 46px;
    height: 46px;
    margin-left: 10px;
    -unity-background-scale-mode: scale-to-fit;
}

#reward-modal-design .daily-quest-reward-modal__claim-label {
    width: 100%;
    height: 100%;
    font-size: 46px;
    white-space: nowrap;
}
