@import url("/Assets/Content/ui/styles/theme/tokens.uss");
@import url("/Assets/Content/ui/styles/base/typography.uss");

.bar-background {
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--game-bar-track);
    background-color: var(--game-bar-track);
}

#energybar{
    width: 460px;
    height: 64px;
}
#energybar > #background{
    width: 460px;
    overflow: hidden;
    background-color: var(--ui-status-disabled);
}

#energybar > #background > #foreground{
    width: 460px;
    overflow: hidden;
    background-color: var(--game-energy);
}

#jumpButton{

}


#foreground{
    transition-property: scale;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.control-button{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.invisible{
    opacity: 0;
}

#tap{
    position: absolute;
    bottom: 0;
    width: 60%;
    height: 70%;
}
